
@{
    ViewData["Title"] = "HomePage";
}

<h2>HomePage</h2>
<a asp-action="Index" class="btn btn-primary btn-lg">See the Movies</a>
<a asp-controller="Reviews" asp-action="Index" class="btn btn-primary btn-lg">Read the Reviews</a>