@model MvcMovie.Models.Reviews

@{
    ViewData["Title"] = "Create Review";
    var Movie = (Movie) ViewData["MovieCreate"];
}

<h2>Write your Review of @Movie.Title</h2>




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reviewer" class="control-label"></label>
                <input asp-for="Reviewer" class="form-control" />
                <span asp-validation-for="Reviewer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <Textarea cols=50 rows=5 asp-for="Review" class="form-control"></Textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieID" class="control-label hidden"></label>
                <input asp-for="MovieID" class="form-control hidden" value="@Movie.ID" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller= "Movies" asp-action= "Details" asp-route-id="@Movie.ID" class="btn btn-primary">Back to Movie Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
